body
{
   background-color: gray; 
}
.container {
    border: 1px solid purple;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 30px;
    font-family: 'lato',sans-serif;
    background-color: cadetblue;
}
.flex-box-rps {
    display: flex;
    border: 2px solid black;
    padding: 20px;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    background-color: black;
}

.flex-box-rps img:hover{
    box-shadow: 0px 10px 50px rgb(190, 127, 199);
} 